# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = false
indent_style=tab
tab_width=4

[*.csproj;*.targets]
tab_width=3

# See https://sass-guidelin.es/de/
[*.scss]
indent_style=space
indent_size=2

[*.{js,jsx}]
tab_width = 2


