
// https://sass-guidelin.es/de/

@charset 'utf-8';


// embedded "Berlin Sans FB Regular" http://fontsgeek.com/fonts/Berlin-Sans-FB-Regular
@font-face {
	font-family: 'Berlin';
  src: url('/fonts/BRLNSR.woff') format('woff');
  font-weight: lighter;
  font-size: 1.5em;
}

// km CI color's 

$dark-white: #f6f6f6;
$dark-grey: #565656;
$light-grey: #dcdcdc;
$primary-color:  #f59c00;

body {
  font-family: 'Berlin', sans-serif;
	padding-top: 0;
	margin: 0;
	color: $dark-grey;
	background-color: $dark-white;
	height: 100%;
  width: 100%;
  letter-spacing: 0.05em; 
}

header {
	height: 20px;
}

footer {
  text-align: center;
  font-size: 0.8em;
}

.grid-image {
  height: 700px;
  background-image: url('/images/doors/buero_barthauer_close.png');
  background-size: 1400px 700px; 
}

.grid-header {
	background-color: $dark-grey;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 1.9em;
  font-weight: bold; 
  // border: 2px dashed #f655e9;
  text-transform: uppercase;
}

.col-header-center {
	background-color: $primary-color;
  color: white;
  display: table-cell;
  line-height: normal;
  vertical-align: middle;
  height: 100%;
}

.col-content-center {
	background-color: $dark-grey;
	color: white;
}

.grid-content {
	background-color:  $light-grey;
}
